  
.editor-container {
    display: flex;
    width: 90%;
    height: 82vh;
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .editor-side-panel {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
  }
  
  .panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .title-input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .summary-input{
    width: calc(100% - 20px);
    height: 20vh;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
  }

  .category-select{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .sub-menu_button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .input-file {
    display: none;
  }
  
  .link-button {
    display: block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .link-button:hover {
    background-color: #2980b9;
  }
  
  .editorjs {
    flex: 1;
    border: 1px solid #eaeaea;
    padding: 10px;
    height: 80vh;
    overflow: auto;
  }
  
  @media (max-width: 768px) {
    .editor-container {
      flex-direction: column;
      padding: 15px;
      margin: 20px;
    }
  
    .editor-side-panel {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }
  }
  