/* Style pour la scrollbar dans WebKit */
body{
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px;
  height: 5clpx;
}

::-webkit-scrollbar-track {
  background: lightgreen;
}

::-webkit-scrollbar-thumb {
  background: lightgreen;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}

/* Style pour la scrollbar dans Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightgreen transparent;
}
