.header {
    position: sticky;
    top: 0;
    background-color: #3498db;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .main-title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .main-item {
    margin-right: 15px;
  }
  
  .main-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .main-link:hover {
    text-decoration: underline;
  }
  